.form-header-container {
    background: url("./header_logged_img.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: rgb(82, 80, 80);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__navigation {
        display: flex;
        justify-content: flex-end;
        padding-right: 10em;
        font-weight: 300;
    }

    &__navigation-user {
        padding: 10px;
        padding-right: 3em;
        height: 20px;
        font-weight: 300;
        position: absolute;
        cursor: pointer;
    }

    &__navigation-icon {
        padding: 10px;
        height: 20px;
        color: rgb(32, 32, 32);
    }

    &__title {
        display: flex;
        font-size: 2em;
        justify-content: flex-end;
        padding-top: 4em;
        padding-right: 8em;
        line-height: 2em;
        font-weight: 300;
    }

    &__decoration-container {
        display: flex;
        justify-content: flex-end;
        padding-top: 2em;
        padding-bottom: 1em;
        padding-right: 20em;
    }

    &__decoration {
        background: url("./decoration.png");
        height: 20px;
        width: 200px;
        background-position: center;
        background-size: cover;
    }

    &__subtitle {
        display: flex;
        font-size: 2em;
        justify-content: flex-end;
        padding-top: 1em;
        padding-right: 7.5em;
        padding-bottom: 1em;
    }

    &__squares {
        display: flex;
        font-size: 2em;
        justify-content: flex-end;
        padding: 1em 6.5em 2em 0;

        &--box {
            border: 1px solid rgb(82, 80, 80);
            transform: rotate(45deg);
            width: 3em;
            height: 3em;
            margin-left: 0.3em;
        }

        &--inside {
            transform: rotate(-45deg);
        }

        &--number {
            font-size: 0.6em;
            padding-right: 1.5em;
            padding-bottom: 0.4em;
        }

        &--text {
            font-size: 0.5em;
            padding-right: 1.5em;
        }
    }

    &__hidden-menu {
        background: white;
        width: 100px;
        position: relative;
        border: 1px solid rgb(82, 80, 80);
        cursor: pointer;
        display: none;

        li {
            list-style-type: none;
            padding: 5px;
            color: rgb(82, 80, 80);
        }

        &--show {
            display: block;
        }
    }
}