.header_pasek{
    background-color: rgb(253,212,0);
    height: 20vh;
    // margin:0;
    padding-left:10em;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    font-weight: 600;
}


.pasek_wazne{
    font-size: 2em;
    color: black;
    // width: 75vw;
    // margin: 0 auto;
    // margin-bottom: 5px;
}


.pasek_info{
    color: black;
    // width: 75vw;
    // margin: 0 auto;
    
}