.register-form-back-to-main-page {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: flex-end;
    padding-right: 11em;
    padding-top: 1em;
    font-weight: 300;

    @media only screen and (min-width: 200px) and (max-width: 1280px) {
        padding-right: 2em;
    }
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    color: rgb(82, 80, 80);
    font-family: 'Open Sans', sans-serif;

    &__title {
        font-size: 2em;
        line-height: 1.3em;
        font-weight: 300;
        margin-bottom: 0.5em;
    }

    &__decoration-container {
        display: flex;
        margin-bottom: 1.5em;
    }

    &__decoration {
        background: url("./decoration.png");
        height: 20px;
        width: 200px;
        background-position: center;
        background-size: cover;
    }

    &__input {
        border: none;
        border-bottom: 1px solid rgb(82, 80, 80);
        background: none;
        margin: 20px 0;
        padding-bottom: 5px;
        padding-left: 10px;
        font-size: 0.9em;
        font-weight: 300;
        width: 330px;
        outline: none;
    }

    &__button {
        text-align: center;

        button {
            cursor: pointer;
            border: 1px solid black;
            margin-top: 30px;
            outline: none;
            padding: 10px 25px;
            font-size: 1em;
            font-weight: 300;
            color: rgb(82, 80, 80);

            @media only screen and (min-width: 200px) and (max-width: 1280px) {
                font-size: 1.5em;
                padding: 15px 30px;
            }
        }
    }
}