.about-us {
    background-color: rgb(239, 239, 239);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(82, 80, 80);

    .about-us-container {
        display: flex;
        padding: 1em 0;
    }

    .about-us-text {
        padding: 10em 0;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-size: 2em;
            line-height: 1.3em;
            font-weight: 300;
            padding-bottom: 0.5em;
        }

        &__text {
            display: flex;
            text-align: center;
            width: 60%;
            font-size: 1.3em;
            font-weight: 300;
            line-height: 1.5em;
        }
    }

    &__decoration-container {
        display: flex;
        padding-bottom: 2em;
    }

    &__decoration {
        background: url("./decoration.png");
        height: 20px;
        width: 200px;
        background-position: center;
        background-size: cover;
    }

    &__image {
        background: url('./about.jpg');
        background-size: cover;
        width: 50vw;

    }
}

@media only screen and (max-width: 1280px) {
    .about-us-container {
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }

    .about-us .about-us-text {
        width: 100%;
        padding: 4em 0;
    }

    .about-us__image {
        display: none;
    }
}