// @media only screen and (max-width: 1000px) {
//     .section5_container {
//       display: none !important; 
//       background-color: yellow;
//     }
//     #section5{
//         display: none !important; 
//         background-color: yellow;
//     }
//   }

// $tablet-width: 768px;
// @mixin tablet {
//   @media (min-width: #{$tablet-width}) {
//    @content;
//   }
// }
// #section5 {
//   margin: 0 auto;
//   @include tablet {
//    display: none !important;
//   }
// }

#section5 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255,255,255);
  
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(82, 80, 80);
    // color: yellow;
}

.section5_container{
    width: 80vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5em;
}

.title_section5{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    line-height:1.3em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.znaczek_section5{
    background: url("./decoration.png");
    height:20px;
    width: 200px;
    background-position: center;
    background-size: cover; 
    margin-bottom: 0.5em;    
}


.opcje_section5{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding-top:1em;
    padding-bottom:1em;
}

.opcja_section5{
    border: 1px solid white;
    font-size:1em;
    flex-wrap: wrap;
    width: 30%;
    height:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    line-height: 1.2em;
}
.opcja_section5:hover{
    border: 1px solid black;
    color: black;
    cursor:pointer;
}

   


.text_section5{
    width:40%;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    text-align: center;
    margin-bottom:1em;
}

.organizacje{
    // border: 1px solid black;
    padding: 1em;
}

.hidden{
    display: none;
}
.border{
    border: 1px solid black;
}

.informacje{
    display: flex;
    font-weight: 300;

}

.informacje1{
    // border: 1px solid blue;
    text-align: left;
}
.informacje1_kontenerek{
    // border:1px solid black;
}
hr{
    width: 26em;
    margin-bottom: 1.5em;
}
.nazwa_org{
    font-size:1.3em;
}
.cel_org{
    font-style: italic;
    margin-bottom: 1em;
}


.informacje2{
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.informacje2_kontenerek{
    // border:1px solid black;
    margin-left:4em;
}
.informacje2_artykuly{
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    text-align: right;
}


.numerki{
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
}
.numerek{
    padding: 0.3em;
}
.numerek_wybr{
    border: 1px solid black;
    color:black;
}




