nav{
    color: rgb(82, 80, 80);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.nav{
    display:flex;
    justify-content: flex-end;
    margin-right: 10em;
}

.nav_buttons:hover{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    color: black;
}

.nav_buttons {
    margin-top: 10px;
    padding: 10px;
    height:20px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    
}

a {
    text-decoration: none;
    color: rgb(82, 80, 80);
}