.stats-container {
    background-color: rgb(251, 206, 0);
    color: rgb(82, 80, 80);
    font-weight: 300;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    padding: 2em 3em 2em 3em;

    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.stats {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 4em;

    &__item {
        display: flex;
        justify-content: center;
        padding: 0.4rem 0;
        text-align: center;

        &--number {
            font-size: 4em;
        }

        &--text {
            text-transform: uppercase;
            font-size: 0.9em;
        }

        &--description {
            font-size: 0.8em;
            line-height: 1.3em;
        }

    }

    @media only screen and (min-width: 551px) and (max-width: 1280px) {
        &__item {
            padding: 0.3rem 0;

            &--number {
                font-size: 3em;
            }

            &--description {
                font-size: 0.8em;
                line-height: 1.3em;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        &__item {
            padding: 0.3rem 0;

            &--number {
                font-size: 3em;
            }

            &--text {
                line-height: 1.3em;
                padding-bottom: 3em;
            }

            &--description {
                display: none;
            }
        }
    }
}