// na czas gdy nie mam wersji mobilnej-----------------------------------
@media only screen and (min-width: 1280px) {
    .loading_rwd {
      display: none !important; 
    }
    .hide_all{
        display: block !important; 
    }
}
.loading_rwd{
    display: block;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(82, 80, 80);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: rgb(236,239,238);
    font-size: 1.5em;
    text-align: center;
}
.hide_all{
    display: none;
}
// ----------------------------------------------------------------------------


#section1 {
    // height:100vh;
    // width:100vw;
    background: url('./header_start_img.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(82, 80, 80);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.log_buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 10em;
}

.zaloz_konto{
    border-top: 1px solid yellow;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    border-bottom: 1px solid yellow;
}

.napis {
    display: flex;   
    font-size: 2em;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5em;
    margin-right: 2em;
    text-align: center;
    line-height:1.3em;
}

.znaczek_container {
    display: flex;
    justify-content: flex-end;
    margin-top:4em;
    margin-bottom:1em;
    margin-right: 15em;
}
.znaczek{
    background: url("./decoration.png");
    height:20px;
    width: 200px;
    background-position: center;
    background-size: cover;
    
}

