@import './partials/reset.scss';
@import './partials/section1';
@import './partials/section2';

body {
    box-sizing: border-box;
}



#section3 {
    height: 400px;
    width: 100vw;
    background-color: rgb(236, 228, 228);
}

#section4 {
    height: 500px;
    width: 100vw;
    background-color: rgb(129, 120, 120);
}

#section5 {
    height: 600px;
    width: 100vw;
    background-color: rgb(236, 228, 228);
}

#section6 {
    height: 100vh;
    width: 100vw;
    background: url('../images/footer_bg_img.jpg');
    background-position: center;
    background-size: cover;
}