.four-steps {
    background-color: rgb(255, 255, 255);
    display: flex;
    color: rgb(82, 80, 80);
}

.four-steps-container {
    padding: 4em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

    &__title {
        display: flex;
        font-size: 2em;
        text-align: center;
        font-weight: 300;
        padding-bottom: 1em;
    }

    &__decoration-container {
        display: flex;
        padding-bottom: 2em;
    }

    &__decoration {
        background: url("./decoration.png");
        height: 20px;
        width: 200px;
        background-position: center;
        background-size: cover;
    }

    &__boxes {
        background-color: rgb(235, 235, 235);
        display: flex;
        padding-top: 3em;
        padding-bottom: 4em;
    }

    &__box {
        font-weight: 300;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
    }

    i {
        padding-bottom: 1rem;
    }

    h1 {
        padding-bottom: 2em;
    }

    &__account-button {
        text-transform: uppercase;
        padding: 1.5em 2em;
        margin-top: 2em;
        border: 1px solid black;
        font-size: 1.5em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        border-top: 1px solid rgb(66, 66, 66);
        border-right: 1px solid rgb(66, 66, 66);
        border-left: 1px solid rgb(134, 134, 134);
        border-bottom: 1px solid rgb(134, 134, 134);
        text-decoration: "none";
        color: "rgb(82, 80, 80)";
    }

    &__account-button:hover {
        border: 1px solid black;
        cursor: pointer;
        color: black;
    }

    @media only screen and (min-width: 551px) and (max-width: 1280px) {
        padding: 4em 2em;

        p {
            display: none;
        }

        &__account-button {
            background-color: rgb(254, 209, 0);
            font-weight: 600;
        }

        &__account-button {
            background-color: rgb(254, 209, 0);
            font-weight: 600;
        }
    }

    @media only screen and (max-width: 550px) {
        padding: 4em 2em;

        &__boxes {
            flex-direction: column;
        }

        i {
            padding-top: 2rem;
        }

        p {
            display: none;
        }

        &__account-button {
            background-color: rgb(254, 209, 0);
            font-weight: 600;
        }

        &__account-button {
            background-color: rgb(254, 209, 0);
            font-weight: 600;
        }
    }
}